<% provide(:title, 'All users') %>
<div id="main_container">
  <%= render "layouts/header" %>
  <div id="main_content">
    <%= render "static_pages/left_content" %>
    <div class="center_content">
      <h1>All users</h1>

      <%= will_paginate %>
      <table class="table">
        <tr>
          <th>STT</th>
          <th>User Name</th>
          <th>Email</th>
        </tr>
          <% @users.each_with_index do |user, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= link_to user.name, user %></td>
              <td><%= user.email %></td>
            </tr>
          <% end %>
      </table>

      <%= will_paginate %>
    </div>
    <%= render "static_pages/right_content" %>
  </div>
  <%= render "layouts/footer" %>
</div>
