<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for([:admin, @product]) do |f| %>
      <%= render 'shared/error_messages', object: @product %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>

      <%= f.label :category %>
      <%= f.select :category, options_for_select([["Son", 0], ["Cham soc da", 1], ["Tri mun", 2]], selected: selected), {}, {class: "form-control"} %>
      <%= f.label :pre_price %>
      <%= f.text_field :pre_price, class: 'form-control' %>
      <%= f.label :price %>
      <%= f.text_field :price, class: 'form-control' %>

      <p>
        <label>My Avatar</label>
        <%= image_tag(@product.avatar_url, size:"60x60") if @product.avatar? %>
        <%= f.file_field :avatar %>
        <%= f.hidden_field :avatar_cache %>
      </p>

      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
