<% provide(:title, @product.name) %>
<div id="main_container">
  <%= render "layouts/header" %>
  <div id="main_content">
    <%= render "layouts/left_content", url: @url %>
    <% if @product.present? %>
      <div class="center_content">
        <div class="center_title_bar"></div>
        <div class="border_box">
          <div class="prod_box col-md-5">
            <div class="row">
              <div class="center_prod_box">
                <div><%= image_tag( @product.avatar_url, size:"165x165", class:"product_img") if @product.avatar? %></a></div>
                <div class="product_title"><%= @product.name %></div>
                <div class="prod_price">
                  <span class="reduce"><%= @product.pre_price %>$</span>
                  <span class="price"><%= @product.price %>$</span>
                </div>
              </div>
              <div class="col-md-1 col-md-offset-1"><%= link_to "Edit", edit_admin_product_path(@product), class:"btn btn-default" %></div>
            </div>
          </div>
        </div>
      </div>
      <span class="col-md-10"><%=  Product.first.description %></span>
    <% end %>
  </div>
  <%= render "layouts/footer" %>
</div>
