<% provide(:title, 'All products') %>
<div id="main_container">
  <%= render "layouts/header" %>
  <div id="main_content">
    <%= render "layouts/left_content", url: @url %>
    <div class="center_content">
      <div class="category">
        <ul class="category_menu">
          <li>
            <p style="float:right;color: #FFD68F;line-height:50px;font-size:12px;margin-right: 20px;">Có tất cả <span style="color:red;font-size:14px"><%= @product_count %></span> sản phẩm</p>
          </li>
        </ul>
      </div>
      <% @products.each do |product| %>
        <div class="prod_box">
          <div class="center_prod_box">
            <div class="product_img">
              <a href="/products/<%= product.id %>">
                <%= image_tag( product.avatar_url, size:"171x171") if product.avatar? %>
              </a>
            </div>
            <div class="product_title"><%=product.name%></div>
            <div class="prod_price">
              <% if product.pre_price.present? %>
                <span class="reduce"><%= product.pre_price %>$</span>
              <% end %>
              <span class="price"><%= product.price %>$</span>
            </div>
          </div>
          <div class="prod_details_tab">
            <a href="#" class="prod_buy">Add to Cart</a>
            <%= link_to "Details", product, class:"prod_details" %>
          </div>
        </div>
      <% end %>
      <div class="row"><%= will_paginate @products %></div>
    </div>
  </div>
  <%= render "layouts/footer" %>
</div>
