<% provide(:title, @product.name) %>
<div id="main_container">
  <%= render "layouts/header" %>
  <div id="main_content">
    <%= render "layouts/left_content", url: @url %>
    <% if @product.present? %>
      <div class="center_content">
        <div class="center_title_bar"></div>
        <div class="border_box">
          <div class="prod_box">
            <div class="center_prod_box">
              <div><%= image_tag( @product.avatar_url, size:"165x165", class:"product_img") if @product.avatar? %></a></div>
              <div class="product_title"><%= @product.name %></div>
              <div class="prod_price">
                <% if @product.pre_price.present? %>
                  <span class="reduce"><%= @product.pre_price %>$</span>
                <% end %>
                <span class="price"><%= @product.price %>$</span>
              </div>

            </div>
          </div>
        </div>
      </div>
      <span class="col-md-10"><%= raw @product.description %></span>
    <% end %>
  </div>
  <%= render "layouts/footer" %>
</div>
