<div id="menu_tab">
  <ul class="menu">
    <li><%= link_to "TRANG CHỦ", root_path, class: "nav" %></li>
    <li class="divider"></li>
    <li><a href="#" class="nav">Giới thiệu</a></li>
    <li class="divider"></li>
    <li><a href="#" class="nav">Bán buôn, sỉ</a></li>
    <li class="divider"></li>
    <li><%= link_to "Liên hệ", contact_path, class: "nav" %></li>
    <li class="divider"></li>
    <li><a href="#" class="nav">KHUYẾN MÃI</a></li>
    <% if logged_in? %>
      <% if current_user.admin? %>
        <li class="divider"> | </li>
        <li><%= link_to "Manage", admin_products_path, class: "nav" %></li>
      <% end %>
    <% end %>
  </ul>
</div>
<br>
<%= render "layouts/search_form_for" %>
<br>
<!-- end of menu tab -->
<div class="left_content">
  <div class="title_box">DANH MỤC SẢN PHẨM</div>
  <ul class="left_menu">
    <li class="even"><%= link_to "Son", root_path(category: 0) , name: :category, class: "even" %></li>
    <li class="odd"><%= link_to "Cham soc da", root_path(category: 1), class: "even" %></li>
    <li class="even"><%= link_to "Tri mun", root_path(category: 2), class: "even" %></li>
  </ul>
  <div class="title_box">SẢN PHẨM ĐẶC BIỆT</div>
  <div class="border_box">
    <% if Product.all.last.present? %>
      <div class="product_title"><%= Product.all.last.name %></div>
      <div><a href="#"><%= image_tag( Product.all.last.avatar_url, size:"165x165", class:"product_img") if Product.all.last.avatar? %></a></div>
      <div class="prod_price">
        <span class="reduce"><%= Product.all.last.pre_price %>$</span>
        <span class="price"><%= Product.all.last.price %>$</span>
      </div>
    <% end %>
  </div>
</div>
