<div id="menu_tab">
  <ul class="menu">
    <li><%= link_to "TRANG CHỦ", root_path, class: "nav" %></li>
    <li class="divider"></li>
    <li><a href="#" class="nav">Giới thiệu</a></li>
    <li class="divider"></li>
    <li><a href="#" class="nav">Bán buôn, sỉ</a></li>
    <li class="divider"></li>
    <li><%= link_to "Liên hệ", contact_path, class: "nav" %></li>
    <li class="divider"></li>
    <li><a href="#" class="nav">KHUYẾN MÃI</a></li>
    <% if logged_in? %>
      <% if current_user.admin? %>
        <li class="divider"> | </li>
        <li><%= link_to "Manage", admin_products_path, class: "nav" %></li>
      <% end %>
    <% end %>
    <li>
      <%= render "layouts/search_form_for", url: url %>
    </li>
  </ul>
</div>

<!--- banner -->
<%= render "layouts/banner" %>
<!-- end of menu tab -->
<div class="left_content">
  <%= render "layouts/list_products", url: url %>
  <div class="title_box">SẢN PHẨM ĐẶC BIỆT</div>
  <div class="border_box">
    <div class="prod_box">
      <div class="special_prod_box">
        <% if Product.all.last.present? %>
          <div><a href="/products/<%= Product.all.last.id %>"><%= image_tag( Product.all.last.avatar_url, size:"150x150", class:"product_img") if Product.all.last.avatar? %></a></div>
          <div class="product_title"><%= Product.all.last.name %></div>
          <div class="prod_price">
            <span class="reduce"><%= Product.all.last.pre_price %>$</span>
            <span class="price"><%= Product.all.last.price %>$</span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
