<div class="title_box">DANH MỤC SẢN PHẨM</div>
<ul class="left_menu">
  <li class="even"><%= link_to "Tất cả", url, name: :category %></li>
  <div class="dropdown">
    <li class="even">
      <%= link_to  url + "?category=my-pham-lam-sach" do %>
        <div class="row">
          <div class="col-xs-9">
            Mỹ phẩm làm sạch
          </div>
          <div class="col-xs-2">
            <i class="glyphicon glyphicon-triangle-right"></i>
          </div>
        </div>
      <% end %>
    </li>
    <div class="dropdown-content">
      <%= link_to "Tẩy da chết", url + "?category=tay-da-chet" %>
      <%= link_to "Sữa rửa mặt", url + "?category=sua-rua-mat" %>
      <%= link_to "Dầu gội", url + "?category=dau-goi" %>
      <%= link_to "Mặt nạ", url + "?category=mat-na" %>
    </div>
  </div>

  <div class="dropdown">
    <li class="even">
      <%= link_to  url + "?category=my-pham-trang-diem" do %>
        <div class="row">
          <div class="col-xs-9">
            Mỹ phẩm trang điểm
          </div>
          <div class="col-xs-2">
            <i class="glyphicon glyphicon-triangle-right"></i>
          </div>
        </div>
      <% end %>
    </li>
    <div class="dropdown-content">
      <%= link_to "Phấn BB, lót, nền", url + "?category=phan-bb-lot-nen" %>
      <%= link_to "Phấn phủ, nước", url + "?category=phan-phu-nuoc" %>
      <%= link_to "Son môi, dưỡng", url + "?category=son-moi-duong" %>
      <%= link_to "Trang điểm mắt", url + "?category=trang-diem-mat" %>
    </div>
  </div>
  <div class="dropdown">
    <li class="even">
      <%= link_to  url + "?category=my-pham-duong-da" do %>
        <div class="row">
          <div class="col-xs-9">
            Mỹ phẩm dưỡng da
          </div>
          <div class="col-xs-2">
            <i class="glyphicon glyphicon-triangle-right"></i>
          </div>
        </div>
      <% end %>
    </li>
    <div class="dropdown-content">
      <%= link_to "Kit dưỡng da", url + "?category=kit-duong-da" %>
      <%= link_to "Nước hoa hồng", url + "?category=nuoc-hoa-hong" %>
      <%= link_to "Xịt khoáng", url + "?category=xit-khoang" %>
      <%= link_to "Sữa dưỡng", url + "?category=sua-duong" %>
      <%= link_to "Kem chống nắng", url + "?category=kem-chong-nang" %>
    </div>
  </div>

  <div class="dropdown">
    <li class="even">
      <%= link_to  url + "?category=my-pham-dac-tri" do %>
        <div class="row">
          <div class="col-xs-9">
            Mỹ phẩm đặc trị
          </div>
          <div class="col-xs-2">
            <i class="glyphicon glyphicon-triangle-right"></i>
          </div>
        </div>
      <% end %>
    </li>
    <div class="dropdown-content">
      <%= link_to "Trị nám, tàn nhang", url + "?category=tri-nam-tan-nhang" %>
      <%= link_to "Trị mụn", url + "?category=tri-mun" %>
    </div>
  </div>

  <div class="dropdown">
    <li class="even">
      <%= link_to  url + "?category=duong-the" do %>
        <div class="row">
          <div class="col-xs-9">
            Dưỡng thể
          </div>
          <div class="col-xs-2">
            <i class="glyphicon glyphicon-triangle-right"></i>
          </div>
        </div>
      <% end %>
    </li>
    <div class="dropdown-content">
      <%= link_to "Tắm trắng", url + "?category=tam-trang" %>
      <%= link_to "Kem dưỡng", url + "?category=kem-duong" %>
      <%= link_to "Sữa tắm", url + "?category=sua-tam" %>
    </div>
  </div>
  <li class="even"><%= link_to "Bột ngũ cốc", url + "?category=bot-ngu-coc" %></li>
  <li class="even"><%= link_to "Bột dưỡng da thiên nhiên", url + "?category=bot-duong-da-thien-nhien" %></li>
  <div class="dropdown">
    <li class="even">
      <%= link_to  url + "?category=nuoc-hoa" do %>
        <div class="row">
          <div class="col-xs-9">
            Nước hoa
          </div>
          <div class="col-xs-2">
            <i class="glyphicon glyphicon-triangle-right"></i>
          </div>
        </div>
      <% end %>
    </li>
    <div class="dropdown-content">
      <%= link_to "Nam", url + "?category=nuoc-hoa-nam" %>
      <%= link_to "Nữ", url + "?category=nuoc-hoa-nu" %>
    </div>
  </div>
</ul>
